@model Cart

<h2>Checkout</h2>

<form asp-action="ProcessOrder">
    <div id="box">
        <div id="line1">
            <input type="text" id="fname" name="fname" placeholder="First Name" required />
            <input type="text" id="lname" name="lname" placeholder="Last Name" required />
        </div>

        <div id="line2">
            <input type="email" id="email" name="email" placeholder="Email Address" required />
            <input type="tel" id="phone" name="phone" placeholder="Telephone" required />
        </div>

        <div id="line3">
            <input type="text" id="address" name="address" placeholder="Address" required />
            <input type="text" id="city" name="city" placeholder="City" required />
        </div><br>

        <div id="line4">
            <label for="visa">VISA</label>
            <input type="radio" id="visa" name="payment" value="visa">

            <label for="mastercard">Mastercard</label>
            <input type="radio" id="mastercard" name="payment" value="mastercard">

            <input type="tel" name="cardnumber" pattern="[0-9\s]{13,19}" maxlength="19" placeholder="Card Number" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Complete Purchase</button>
</form>
